<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />
<body>
	<div th:replace="common/navbar :: common-navbar"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron">
					<div class="text-center">
						<h1>Things all changed.</h1>
						<p class="lead">
						If you can see this page means you are logged in.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="common/header :: before-body-scripts"></div>
</body>
</html>
